{
  "tracked_funds": [
    {
      "cik": "1649339",
      "name": "Michael Burry (Scion)",
      "last_filing_date": null
    },
    {
      "cik": "1350694",
      "name": "Bridgewater Associates",
      "last_filing_date": null
    },
    {
      "cik": "1336528",
      "name": "Pershing Square",
      "last_filing_date": null
    },
    {
      "cik": "1067983",
      "name": "Berkshire Hathaway",
      "last_filing_date": null
    },
    {
      "cik": "1009207",
      "name": "D.E. Shaw",
      "last_filing_date": null
    }
  ]
}
